{% extends "layout.html" %}
{% block content %}
    <div class="container">
      <pre>  <p class="text-secondary">ID: {{ current_user.id }}                          Name: {{ current_user.username}}</br>
Course: {{ current_user.course }}                             Sem: {{current_user.sem}}</p> </pre>
    </div>
    <div class="container">
      <table class="table table-striped table-responsive table-bordered">
        <tr>
          <th>Subject Code</th><th  colspan=3>Subject</th><th>Total Class</th><th>Days Present</th><th>Attendance(%)</th>
        </tr>
        {% for sub in sublist %}
        <tr>
          <td>{{sub.id}}</td><td colspan=3>{{sub.subname}}</td><td>{{sub.totalclass}}</td><td>2</td><td>12.2</td>
        </tr>
        {% endfor %}
      </table>
    </div>

{% endblock content %}
